*{
    margin: 0;
    color: white;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}
body{
    margin: 0;
    background-color: #05020e;
}
*:hover{
    cursor: url(./assets/racing.png);
}
a{
    text-decoration: none;
}
a:hover{
    border-bottom: solid white;
}
p{
    font-weight: 300;
}
h1{
    font-weight: 700;
}
.logo-name{
    font-size: 3rem;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.nav-text-cont{
    padding: 10px;
}

li{
    list-style-type: none;
}
.list-container, #logo-container{
    display: flex;
}
#logo-container{
    align-items: center;
}
input, textarea{
    background-color: #110d1d;
    box-shadow: rgba(82, 82, 82, 0.19) 0px 10px 20px, rgba(82, 82, 82, 0.19) 0px 6px 6px;
    border: solid thin #333333;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    color: rgb(241, 241, 241);
}
button{
    border: #05020e solid thin;
    border-radius: 10px;
    background-color: rgb(54, 54, 75);
    color: white;
    padding: 15px;
    width: 100%;
}
.input-container{
    margin: 15px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer{
    display: flex;
    padding: 20px;
    background-color: #111116;
    border: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: rgba(82, 82, 82, 0.19) 0px 10px 20px, rgba(82, 82, 82, 0.19) 0px 6px 6px;
    justify-content: space-evenly;
}

.footer-logo-heading{
    font-weight: 300;
    font-size: 4rem;
}

@media screen and (max-width: 900px) {
    footer {
        display: flex;
        flex-direction: column;
    }
    .footer-logo > #logo-container {
        flex-direction: column;
    }
}