/* fills the whole screen */
.header{
    width: 100%;
    background: linear-gradient(to bottom, #00000063, #000000),url(./assets/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 200px;
}
.header-main{
    width: 60rem;
    margin: 50px;
    max-width: 90vw;
}
.header-heading{
    font-size: 3.7rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.header-paragraph{
    word-spacing: 0.5em;
    text-justify: distribute-all-lines;
    line-height: 30px;
}
.first-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    overflow: hidden;
}

.first-section-main-container {
    width: 100%;
    position: relative;
    height: 100vh;
    overflow-x: auto;
}

#first-section-header-text {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.turnable-image-container {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
}

.turnable-box {
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

.turnable-image {
    width: calc(100% + 50px);
    height: 700px;
    background-color: rgb(60, 60, 75);
    box-shadow: 
        rgba(67, 91, 112, 0.42) 0px 60px 123px -25px,
        rgba(62, 81, 99, 0.08) 0px 35px 75px -35px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: viewIn;
    animation-timeline: scroll;
    animation-range: contain;
    margin-bottom: 10px;
}
.turnable-image:hover{
    animation: widen 0.2s ease-in forwards;
}

#widened-turnable{
    position:fixed;
    background-color: aqua;
    background-position: center;
    background-size: cover;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 50px;
}
.horizontal-line{
    background-color: white;
    display: flex;
    width: 50%;
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: stretch 1s ease-out forwards;
}
#in-turnable-header, #in-turnable-p{
    animation: viewIn 1s ease-in forwards;
}
@keyframes stretch {
    from{width: 0%;}
    to{
        width: 50%;
    }
}

@keyframes viewIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes widen {
    to{
        width: calc(100% + 60px);
        height: 720px;
    }
}

