#form-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lc-text{
    font-size: 4.5rem;
    font-weight: 400;
    padding: 20px;
}
.lc-text-cont{
    border-right: solid white;
    margin: 10px;
    height: 100%;
}

form{
    padding: 20px;
    max-width: 90%;
    width: 60vw;
}
.separator{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    height: 1px;
    width: 60%;
}