.hero{
    /* background-color: rgb(83, 95, 95); */
    height: 100vh;
    display: flex;
    position: relative;
    align-items: flex-end;
}
.backgrounder{
    position: absolute;
    height: 100%;
    right: 200px;
    /* background-color:brown; */
    width: 20vw;
    box-shadow: 
        rgba(67, 91, 112, 0.42) 0px 60px 123px -25px,
        rgba(62, 81, 99, 0.08) 0px 35px 75px -35px;
    transform: rotate(5deg);
}
.car-display{
    /* background-color: blue; */
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
}
.main-const-heading{
    font-weight: 400;
    font-size: 3rem;
}
.first-event{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-event-details-cont{
    background-image: linear-gradient(to bottom, #00000063, #000000),url(../assets/event\ 1.jpg);
    display: flex;
    width: 95%;
    height: 90vh;
    background-size: cover;
    align-items: center;
    justify-content: center;
    border: hidden;
    border-radius: 20px;
    flex-direction: column;
}

.first-event-details-cont > h1, .first-event-details-cont > p{
    text-align: center;
    margin: 20px;
}

.first-event-heading, .newsletter-subscribe-heading{
    font-size: 2.5rem;
    font-weight: 300;
}

.maps-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.maps-container > iframe{
    width: 75%;
    height: 90vh;
    border: none;
    border-radius: 20px;
}
.upcoming-event{
    display: flex;
}
.timer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.event-video{
    width: 50%;
    height: max-content;
    border: hidden;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
}
.event-video > video{
    height: 80vh;
}
.upcoming-event-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
.timing{
    box-shadow: 
        rgba(67, 91, 112, 0.42) 0px 60px 123px -25px,
        rgba(62, 81, 99, 0.08) 0px 35px 75px -35px;
}
.timing > h1 {
    font-weight: 300;
    font-size: 4rem;
    margin-right: 10px;
    margin-left: 10px;
}
@media screen and (max-width:1000px) {
    .upcoming-event{
        display: flex;
        flex-direction: column;
    }
    .event-video{
        width: 100%;
    }
    .upcoming-event-details{
        width: 100%;
    }
}